:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-text-color: #2196f3;
  --adress-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --staff-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --button-bg-color: #2196f3;
  --outline-color: #eeeeee;
  --footer-icon-color: #55565e;
  --svg-icon-color: #afb1b8;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Body */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: 'roboto', sans-serif;
  letter-spacing: 0.03em;
}
.section-title,
.list-title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);
}
.list-title {
  margin-bottom: 10px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
}
/* Button */
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--staff-bg-color);
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.hero .button.primary {
  min-width: 216px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--button-bg-color);
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--staff-bg-color);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--title-text-color);
  background-color: var(--staff-bg-color);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--button-bg-color);
}

/* <Header> */
.page-header {
  border-bottom: 1px solid var(--outline-color);
}

.logo-web {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-text-color);
}

.logo-studio {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
}

/* Site nav */
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}
.site-nav .current:hover,
.site-nav .current:focus {
  color: var(--title-text-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 50px;
}
.auth-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

/* hero*/

.hero {
  background-color: var(--hero-bg-color);
  text-align: center;
}
.overlay {
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Feature */
.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}
.feature-title {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}


.feature-list {
  display: flex;
}

.feature .text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
}
.feature .list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature .item {
  width: 270px;
}
.feature .item + .item {
  margin-left: 30px;
}
.feature-icons{
  display: flex;
  
}
.feature-icons .items {
  display: flex;
  border-radius: 4px;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: var(--staff-bg-color);
}
.feature-icons .items+.items{
  margin-left: 30px;
}
/* Work list */
.work-list {
  padding-top: 0;
  padding-bottom: 94px;
}
.work-img {
  display: flex;
  margin-top: 50px;
}
.work-img > .item + .item {
  margin-left: 30px;
}

/* Staff */
.staff {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--staff-bg-color);
}
.staff .img {
  margin-bottom: 30px;
}
.staff .list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.staff .text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.staff-list {
  display: flex;
  flex-basis: auto;
  margin-top: 50px;
}
.staff-list .item {
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
}
.staff-list > .item + .item {
  margin-left: 30px;
}

.staff-socials {
  display: flex;
  align-items: center;
  justify-content: center;
}

.staff-socials .item + .item {
  margin-left: 10px;
}
.staff-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.staff-block {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}
.staff-icon {
  fill: var(--svg-icon-color);
}
.staff-link:hover .staff-icon {
  fill: var(--primary-white-color);
}
.staff-link:hover {
  background-color: var(--accent-text-color);
}
/* Clients */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.client-list .item + .item {
  margin-left: 30px;
}
.clients-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--svg-icon-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.clients-icon {
  fill: var(--svg-icon-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-text-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-text-color);
}
/* Footer */
.footer {
  background-color: var(--footer-bg-color);
}
.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer-web {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-text-color);
}

.logo-footer-studio {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  color: var(--primary-white-color);
}
.address {
  margin-top: 20px;
}
.address .item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.list-link {
  color: var(--adress-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.address-link:hover,
.address-link:focus,
.list-link:hover,
.list-link:focus {
  color: var(--accent-text-color);
}

.social-links {
  margin-left: 70px;
}

.join {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.social-links .socials {
  display: flex;
}
.socials .item + .item {
  margin-left: 10px;
}
.socials .link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: var(--primary-white-color);
  background-color: var(--footer-icon-color);
}

.socials .link:hover,
.socials .link:focus {
  background-color: var(--accent-text-color);
}
/* Portfolio */ /* Portfolio */ /* Portfolio */ /* Portfolio */
.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-title {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list .item + .item {
  margin-left: 8px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}

.card-set > .item {
  margin: 15px;

  width: 370px;
}
.item .card-content {
  border-left: 1px solid var(--outline-color);
  border-right: 1px solid var(--outline-color);
  border-bottom: 1px solid var(--outline-color);
}
.item .card-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.item .card-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.card-content {
  padding: 20px 24px;
}
